::-webkit-scrollbar {
  display: none;
}

.reglement-content {
  padding: 12px 10px 25%;
}

.part1 object {
  margin: auto;
  text-align: center;
  display: flex;
}

.part2 {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.part2 h3 {
  color: var(--Primaire, #37399b);
  font-family: OMontserrat;
  font-size: 38px;
  font-weight: 700;
}

.part2 p {
  color: #171717;
  font-family: MMontserrat;
  font-size: 16px;
  font-weight: 500;
}

.part2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border-radius: 8px;
  background: var(--Yellow, #fdd32f);
  border: none;
      width: 45%;
}

.part2 span {
  color: var(--Primaire, #37399b);
  font-family: OMontserrat;
  font-size: 18px;
  font-weight: 700;
}

/* Responsive styles remain as they are */
@media (max-width: 768px) {
  .reglement-content {
    flex-direction: column;
    align-items: center;
  }

  .part1 {
    width: 90%;
  }

  .part2 button {
    margin: auto;
  }
}
